/*@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';*/
z
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: rgb(203, 37, 37);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(240, 82, 9);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: rgb(228, 96, 8);
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;  
  color:white;
}

.brand h1 span{
  color: rgb(218, 32, 32);
}
.brand h2 {
  font-size: 2rem;
  text-transform: uppercase;  
  color:white;
}
.brand h2 span{
  color: rgb(218, 32, 32);
}



/*Header Section */
#header{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(225, 87, 8);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/*header section end*/
/*hero section*/
#hero {
  background-image: url(./img/IMG_20220111_121722.jpg);
  animation: animate 16s ease-in-out infinite;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h2 {
  display: inline;
  width: 100%;
  position: relative;
  font-size: 4rem;
  color: white;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
  
  
}
#hero h3{
  font-size: 3rem;
  color: white;
}






/*End Hero Section */
#projects {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 0;
  background-image: url(./img/a-b1.jpg);
  background-size: cover;
}
.card-title{
  background-color:black;
  color: #fff;
}

/*About Section*/ 
.section{
	width: 100%;
	min-height: 100vh;
	/*background-image: url(./img/PicsArt_04-19-06.42.17.jpg);
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: black;
}
.about-container{
	width: 100%;
	display: block;
	margin:auto;
	padding-top: 200px;
}
.content-section{
	float: left;
	
}
#section-title{
  
    font-size: 4rem;
    font-weight: 300;
    color: rgb(218, 85, 32);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-top: 10rem;
    font-weight: bold;
  
}
.image-section{
	float: left;
	width: 30%;
  
}
.image-section img{
	width: 80%;
	height: auto;
  float: right;
}
.content-section {
  padding-top: 3rem;
  width: 90%;
  
}
h4{
  color: rgb(226, 229, 26);
}

.content-section .content h3{
	margin-top: 50px;
	color:white;
	font-size: 21px;
  margin-left: 40px;
  margin-right: 70px;
  
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
  font-weight: bold;
  margin-left: 30px;
  color: white;
}

.content-section .content .button{
	margin-top: 30px;
  margin-left: 50px;
}
.content-section .content .button a{
	background-color: rgb(218, 44, 32);
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: rgb(218, 100, 32);
	color:#fff;
}

@media screen and (max-width: 768px){
	.about-container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
}
.image-section img{
  height: 100%;
  width: 100%;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
/* End About Section */
video section*/
#video{
  
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  
}


/*end section

/*skill section*/
#skill{
  
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(12, 12, 12);
   
  
}
.skills-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 8%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skill-title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #f5f5f5;
}

.skill-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 30px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}

.skill-fill {
  background: rgb(218, 88, 32);
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}

.skill-percent {
  font-size: 30px;
}

.html {
  animation: html 2s;
  width: 90%;
}

.css {
  animation: css 2s;
  width: 80%;
}

.Bootstrap{
  animation: Bootstrap 2s;
  width: 80%;
}

.js {
  animation: js 2s;
  width: 60%;
}
.py{
  animation: py 2s;
  width: 40%;
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes Bootstrap {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes py {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}


@media only screen and (max-width: 750px) {
  .skills-area {
    padding: 0 5%;
  }
}

/*progress bar*/
 
.prog-bar {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 20px;
  margin-right: 50px;
  
  
}
.prog-bar:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}
svg {
  width: 100%;
  height: 100%;
  position: relative;
}

svg circle {
  position: absolute;
  transform: scale(0.939);
  transform-origin: center;
  fill: none;
  stroke: rgba(207, 59, 89, 0.831);
  stroke-width: 30px;
  stroke-dasharray: 630px;
  /* stroke-dashoffset: 630px; */
}
.item img{
  height: 280px;
}
.prog-bar:nth-child(1) svg circle {
  animation: bar_1 1s ease forwards;
}
.prog-bar:nth-child(2) svg circle {
  animation: bar_2 1s ease forwards;
}
.prog-bar:nth-child(3) svg circle {
  animation: bar_3 1s ease forwards;
}
.prog-bar:nth-child(4) svg circle {
  animation: bar_3 1s ease forwards;
}
.prog-h1 {
  position: absolute;
  font-size: 20px;
  font-family: "Montserrat";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
}
/* svg circle {
	stroke-dashoffset: calc(950 - (950*10) / 100);
} */
@keyframes bar_1 {
  0% {
    stroke-dashoffset: 630px;
  }
  100% {
    stroke-dashoffset: calc(630px - (630px * 90) / 100);
  }
}
@keyframes bar_2 {
  0% {
    stroke-dashoffset: 630px;
  }
  100% {
    stroke-dashoffset: calc(630px - (630px * 85) / 100);
  }
}
@keyframes bar_3 {
  0% {
    stroke-dashoffset: 630px;
  }
  100% {
    stroke-dashoffset: calc(630px - (630px * 70) / 100);
  }
}
@keyframes bar_4 {
  0% {
    stroke-dashoffset: 630px;
  }
  100% {
    stroke-dashoffset: calc(630px - (630px * 100) / 100);
  }
}

/*end skill section*/

/* contact Section */
#contact {
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  background-image: url(./img/1.jpg);
  background-size: cover;
}

.contact-wrap {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	background-color: black;
	color: #fff;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: rgb(218, 54, 32);
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 18px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}
.contact-in h2 img{
  width: 50px;
  height: 50px;
  background-color: black;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
  color: #f5f5f5;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: black;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}
/*End contact Section */

/* Keyframes */
@keyframes animate {
  0%,
  100% {
    background-image: url(./img/w.jpg);
  }
  25% {
    background-image: url(./img/w2.jfif);
  }
  50% {
    background-image: url(./img/ts.jpg);
  }
100% {
    background-image: url(./img/1.jpg);
  }
}
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal {
  100% {
    color: rgb(218, 97, 32);
    font-weight: 500;
  }
}


/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h2 {
    font-size: 5rem;
    
  }
  /* End Hero */

  /* Services Section */
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End Services Section */

  /* Project */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */

  

  /* /* contact   */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }*/
  
}


/*Media Query For Desktop */

@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}}
	/* End header */


/* Footer */
#footer {
  background-color: black ;


}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */
#vedio{
  padding-top: 20px;
  width: 50px;
  margin-right: 40px;
}